.wm-app .flex-no-wrap {
    flex-wrap: nowrap !important;
}

.wm-app .app-switch .app-switch-overlay {
    display: none;
}

.wm-app .blend-multiply {
    mix-blend-mode: multiply;
}

.wm-app .app-livelist.slots .app-list-item {
    padding: 8px 12px;
    border: 1px solid var(--brand-tertiary);
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wm-app .app-livelist.slots .app-list-item+.app-list-item {
    margin-top: 4px;
}

.wm-app .app-livelist.slots .app-list-item:hover {
    border-color: var(--brand-tertiary);
    background-color: var(--brand-tertiary);
}

.wm-app .app-livelist.slots .app-list-item:hover * {
    cursor: pointer;
}

.wm-app .app-livelist.slots .app-list-item.active {
    border-color: var(--btn-primary-border);
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

.wm-app .app-livelist.slots .app-list-item.active .app-label {
    font-weight: var(--font-weight-bold);
}

.wm-app .no-bg {
    background: none !important;
}

.wm-app .pointer-events-none {
    pointer-events: none;
}

.wm-app .app-calendar>.fc {
    background: rgba(243, 246, 251, 1);
}

.wm-app .app-calendar .fc .fc-toolbar h2 {
    font-weight: var(--font-weight-bold);
    color: var(--brand-primary);
    font-size: var(--h5);
}

.wm-app .app-calendar .fc .fc-toolbar>.fc-toolbar-chunk:first-child {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
}

.wm-app .app-calendar .fc .fc-toolbar>.fc-toolbar-chunk {
    min-width: 100%;
    text-align: center;
}

.wm-app .app-calendar .fc table,
.wm-app .app-calendar .fc table tr,
.wm-app .app-calendar .fc table tr td,
.wm-app .app-calendar .fc table tr th {
    border: none;
}

.wm-app .app-calendar .fc table tbody td {
    font-size: var(--h4);
    height: auto;
    text-align: center;
}

.wm-app .app-calendar .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: auto;
    margin: 0;
}

.wm-app .app-calendar .fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.wm-app a.fc-daygrid-day-number {
    font-weight: normal;
    color: var(--text-muted);
}

.wm-app .app-calendar .fc .fc-col-header-cell-cushion {
    padding: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}

.wm-app .app-calendar .fc th:not(.fc-axis) {
    padding: 0;
    text-align: center;
}

.wm-app .fc .fc-highlight {
    border-radius: 4px;
    height: 36px;
    top: 2px;
    width: 40px;
    left: calc(50% - 20px);
    background: var(--brand-tertiary);
}

.wm-app .fc .fc-daygrid-day.fc-day-today {
    background: var(--brand-tertiary);
    border-radius: 4px;
}

.wm-app .app-calendar .fc .fc-toolbar .fc-button.fc-state-hover,
.wm-app .app-calendar .fc .fc-toolbar .fc-button:focus,
.wm-app .app-calendar .fc .fc-toolbar .fc-button.fc-state-active {
    border: none;
}

.wm-app .app-label.required:after {
    display: inline;
}
